</body>

<footer>




  <a href="https://github.com/AniruddhSharma23"><i class="fab fa-github fa-2x"></i></a>
  <a href="https://www.instagram.com/too_oof_ani/"><i class="fab fa-instagram fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/aniruddh-sharma-20ba241b2"><i class="fab fa-linkedin-in fa-2x"></i></a>


</footer>

</html>